/* App.css */

#root {
  margin: 0 auto;
  text-align: center;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message {
  display: grid;
  justify-items: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.user-message {
  display: grid;
  justify-items: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.message-bubble {
  max-width: 70%;
  min-width: 30%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-right: 4px;
  background-color: #f1f1f160;
  box-shadow: 3px 3px #a1a1a1;
}

.message-text {
  word-wrap: break-word;
}